.
<h2>Lista de heroes</h2>
<button routerLink="/heroe/new" class="btn btn-primary">Nuevo heroe</button>
<table class="table mt-3 animated fadeIn slow">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Poder</th>
      <th scope="col">Estado</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-info text-center mt-3">Cargando</div>
<div class="alert alert-warning text-center mt-3">
  No hay heroes que mostrar
</div>
